.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.header {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  z-index: 999;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  justify-content: space-around;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 0px 11px 20px -11px rgb(105 105 105 / 50%);
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #e1e1e1;
}
.header a {
  padding: 15px;
}
.footer {
  margin: 30px 0;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 950px) {
  .header {
    font-size: 24px;
  }
}
@media (max-width: 750px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
}

.main {
  position: relative;
}
.article {
  position: relative;
  margin: 35px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 6px 6px 21px -11px rgb(105 105 105 / 50%);
  font-weight: 700;
}
.title {
  display: block;
  margin: 5px 0 15px 0;
  color: #222;
  font-size: 2rem;
}
.publisher {
  color: #777;
  font-size: 1.2rem;
  margin: 0;
}
.time {
  position: absolute;
  left: 25px;
  top: -7px;
  margin: 0;
  color: #35b789;
  font-size: 1.2rem;
}
.line {
  position: absolute;
  left: 30%;
  top: 0;
  right: 50px;
  height: 3px;
  background-color: #35b789;
}
