/* :root {
  --background-color: #f1f1f1;
  --world-color: #35b789;
  --russia-color: #ff4f40;
  --sport-color: #88CCF1;
  --tech-color: #FFB86F;
  --culture-color: #DCED31;
  --business-color: #91A6FF;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.footer {
  margin: 30px 0;
  font-weight: 700;
  text-align: center;
}

.main {
  position: relative;
}
.article {
  position: relative;
  margin: 35px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  box-shadow: 6px 6px 21px -11px rgb(105 105 105 / 50%);
  font-weight: 700;
}
.title {
  display: block;
  margin: 5px 0 15px 0;
  color: rgb(222,227,234);
  font-size: 2rem;
}
.publisher {
  color: #777;
  font-size: 1.2rem;
  margin: 0;
}
.time {
  position: absolute;
  left: 25px;
  top: -7px;
  margin: 0;
  color: #35b789;
  font-size: 1.2rem;
}
.line {
  position: absolute;
  left: 30%;
  top: 0;
  right: 50px;
  height: 3px;
  background: #35b789;
}

@media (max-width: 767px) {
  .line {
    left: 50%;
  }
  .title {
    font-size: 1.5rem;
  }
  .publisher, .time {
    font-size: 1rem;
  }
}