/* :root {
  --background-color: #f1f1f1;
  --world-color: #35b789;
  --russia-color: #ff4f40;
  --sport-color: #88CCF1;
  --tech-color: #FFB86F;
  --culture-color: #DCED31;
  --business-color: #91A6FF;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding: 0 10px;
}

.footer {
  margin: 30px 0;
  font-weight: 700;
  text-align: center;
}

.main {
  position: relative;
}
.article {
  position: relative;
  margin: 35px 0;
  padding: 20px;
  border-radius: 10px;
  /* border: 3px solid black; */
  background-color: #161b22;
  box-shadow: 0 0 0 1px #30363d, 0 16px 32px rgba(1,4,9,0.85);
  /* box-shadow: 6px 6px 21px -11px rgb(105 105 105 / 50%); */
  font-weight: 700;
  /* background-image: linear-gradient(
    45deg,
    hsl(240deg 4% 10%) 75%,
    hsl(159deg 55% 46%) 100%
  );
  background-image: linear-gradient(
    45deg,
    hsl(240deg 4% 10%) 75%,
    hsl(5deg 100% 63%) 100%
  );
  background-image: linear-gradient(
    45deg,
    hsl(240deg 4% 10%) 75%,
    hsl(201deg 79% 74%) 100%
  );
  background-image: linear-gradient(
    45deg,
    hsl(240deg 4% 10%) 75%,
    hsl(30deg 100% 72%) 100%
  ); */
}
.title {
  display: block;
  margin: 5px 0 15px 0;
  color: rgb(222 227 234);
  font-size: 2rem;
}
.publisher {
  position: absolute;
  left: 25px;
  color: rgb(161 161 170);
  font-size: 1.2rem;
  margin: 0;
}
.time {
  position: absolute;
  left: 25px;
  top: -7px;
  margin: 0;
  color: #35b789;
  font-size: 1.2rem;
}
.line {
  position: absolute;
  left: 30%;
  top: 0;
  right: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: #35b789;
}
.text_highlight {
  display: inline-block;
  position: relative;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  border-radius: 0;
  line-height: 1;
}
.leftline {
  position: absolute;
  top: 0;
  left: -4px;
  height: 100%;
  width: 4px;
  border-radius: 2px;
  background-color: #35b789;
}

@media (max-width: 767px) {
  .line {
    left: 50%;
  }
  .title {
    font-size: 1.5rem;
  }
  .publisher, .time {
    font-size: 1rem;
  }
}