.header {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    justify-content: space-around;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0px 11px 20px -11px rgb(105 105 105 / 50%);
    font-size: 32px;
    font-weight: 700;
    color: #e1e1e1;
}
.header a {
    justify-self: center;
    padding: 15px 0;
    transition: color 0.3s;
    position: relative;
}
.header a.current, .header a:hover {
    color: #555;
}
.header a:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 14px;
    background: #35b789;
    transform: scale3d(1, 0, 1);
    transform-origin: 70% 100%;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.header a:nth-child(2):before {
    background: #ff4f40;
}
.header a:nth-child(3):before {
    background: #88CCF1;
}
.header a:nth-child(4):before {
    background: #FFB86F;
}
.header a:nth-child(5):before {
    background: #DCED31;
}
.header a:nth-child(6):before {
    background: #91A6FF;
}
.header a.current:before {
    transform: scale3d(1,1,1);
    transform-origin: 70% 0;
}